In [1]:
import pandas as pd

In [28]:
df=pd.read_csv('Fortune_10.csv')
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.columns

Index(['ID', 'Name', 'Industry', 'Inception', 'Revenue', 'Expenses', 'Profit',
       'Growth'],
      dtype='object')

In [7]:
df=pd.read_csv('Fortune_10.csv',nrows=5)
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%

In [12]:
df=pd.read_csv('Fortune_10.csv',usecols=[1,5])
df

              Name           Expenses
0          Lamtone  6,482,465 Dollars
1        Stripfind    916,455 Dollars
2  Canecorporation  7,591,189 Dollars
3         Mattouch  7,429,377 Dollars
4        Techdrill  7,435,363 Dollars
5         Techline  5,470,303 Dollars
6          Cityace  6,249,498 Dollars
7   Kayelectronics  3,878,113 Dollars
8          Ganzlax                NaN
9      Trantraxlax  5,635,276 Dollars

In [13]:
df=pd.read_csv('Fortune_10.csv',usecols=[2,4,7])
df

              Industry       Revenue Growth
0          IT Services  $11,757,018     30%
1   Financial Services  $12,329,371     20%
2               Health  $10,597,009      7%
3          IT Services  $14,026,934     26%
4               Health  $10,573,990      8%
5               Health  $13,898,119     23%
6               Health   $9,254,614      6%
7               Health   $9,451,943      4%
8          IT Services  $14,001,180     18%
9  Government Services  $11,088,336      7%

In [29]:
df=pd.read_csv('Fortune_11.csv')
df

,0,1,2,3,4,5,6,7
0,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
1,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
2,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
3,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
4,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
5,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
6,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
7,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
8,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
9,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
10,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [30]:
df=pd.read_csv('Fortune_11.csv',skiprows=1)
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [31]:
df=pd.read_csv('Fortune_11.csv',skiprows=2)
df

,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
0,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
1,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
2,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
3,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
4,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
5,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
6,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
7,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
8,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [32]:
df=pd.read_csv('Fortune_11.csv',skiprows=[0,2,3])
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
1,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
2,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
3,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
4,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
5,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
6,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
7,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [33]:
df=pd.read_csv('Fortune_10.csv')
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [34]:
df=pd.read_csv('Fortune_10.csv',index_col='Industry')
df

,ID,Name,Inception,Revenue,Expenses,Profit,Growth
Industry,,,,,,,
IT Services,1,Lamtone,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
Financial Services,2,Stripfind,2010,"$12,329,371","916,455 Dollars",11412916,20%
Health,3,Canecorporation,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
IT Services,4,Mattouch,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
Health,5,Techdrill,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
Health,6,Techline,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
Health,7,Cityace,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
Health,8,Kayelectronics,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
IT Services,9,Ganzlax,2011,"$14,001,180",NaN,11901180,18%
Government Services,10,Trantraxlax,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [37]:
df=pd.read_csv('Fortune_10.csv',index_col=3)
df

,ID,Name,Industry,Revenue,Expenses,Profit,Growth
Inception,,,,,,,
2009,1,Lamtone,IT Services,"$11,757,018","6,482,465 Dollars",5274553,30%
2010,2,Stripfind,Financial Services,"$12,329,371","916,455 Dollars",11412916,20%
2012,3,Canecorporation,Health,"$10,597,009","7,591,189 Dollars",3005820,7%
2013,4,Mattouch,IT Services,"$14,026,934","7,429,377 Dollars",6597557,26%
2009,5,Techdrill,Health,"$10,573,990","7,435,363 Dollars",3138627,8%
2006,6,Techline,Health,"$13,898,119","5,470,303 Dollars",8427816,23%
2010,7,Cityace,Health,"$9,254,614","6,249,498 Dollars",3005116,6%
2009,8,Kayelectronics,Health,"$9,451,943","3,878,113 Dollars",5573830,4%
2011,9,Ganzlax,IT Services,"$14,001,180",NaN,11901180,18%
2011,10,Trantraxlax,Government Services,"$11,088,336","5,635,276 Dollars",5453060,7%